# ----- Python junk -----
__pycache__/
*.pyc

# ----- Virtual environment -----
.venv/

# ----- Data (we will download big files later; never push them) -----
data/

# ----- OS files -----
Thumbs.db
.DS_Store
Scripts/

